<%= provide(:title, "Training Details") %>

<%= render "static_pages/menubar" %>
<div class="container">

<div class="col-md-4">
        <div class="panel panel-info">
	        <div class="panel-heading">
		       Trainings Details
		       
	        </div>
	        <div class="panel-body">
	            <ul>
	               <li><%= @Training.event%></li>
                   
                   
                   
               
                </ul>
                
            </div>
        </div>
</div>
</div>