<div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="https://trainers-app-jyvina.c9users.io/static_pages/reservation">Reservation</a></li>
	        <li role="presentation"><a href="https://trainers-app-jyvina.c9users.io/clients">Client</a></li>
	        <li role="presentation"><a href="https://trainers-app-jyvina.c9users.io/static_pages/search">Search</a></li>
	       
	        <div class="nav navbar-right">
	        <%= link_to "Log out", logout_path, method: :delete,class:"btn btn-primary" %>
	        </div>
	       
        </ul> 
    
</div>
