<% provide(:title, 'Home') %>
<div class= "jumbotron">
    <div class="container">
        <h1>StaticPages#home</h1>
        <%= link_to "Sign up now",users_new_path %>
    </div>
</div>
<%= render "static_pages/menubar" %>

<div class= "jumbotron">
    <div class="container">
        <h3><%= link_to 'Posts', posts_path %></h3>
        <h3>Purpose</h3>
        <h3>Event</h3>
        <h3>Case</h3>
        <h3>Popularity</h3>
    </div>
</div>