<% provide(:title, 'Home') %>
<div class= "jumbotron">
    <div class="container">
        <h1>StaticPages#home</h1>
    </div>
</div>
<menubar class= "menubar">
    <nav>
        <ul class="nav nav-pills nav-justified">
	       <li role="presentation"><%= link_to "Purpose","#" %></li>
	       <li role="presentation"><%= link_to "Event","#" %></li>
	       <li role="presentation"><%= link_to "Case","#" %></li>
	       <li role="presentation"><%= link_to "Popularity","#" %></li>
        </ul>
    </nav>
</menubar>

<div class= "jumbotron">
    <div class="container">
        <h3>Purpose</h3>
        <h3>Event</h3>
        <h3>Case</h3>
        <h3>Popularity</h3>
    </div>
</div>