
<div class="col-md-7">
        <div class="panel panel-info">
	        <div class="panel-heading">
		       Trainings index
	        </div>
	        <div class="panel-body">

                <% if @client.trainings.any?%>
                <ul>
                    <% @client.trainings.each do |training|%>
                        <li><%= training.purpose %>
                            <%= training.goal %>
                            <%= link_to '[Edit]',edit_client_training_path(training),class: 'command'%>
                            <%= link_to '[×]',
                                client_training_path(@client,training), 
                                method: :delete, 
                                class: 'command',
                                data:{ confirm: 'Sure?'} %>
                        </li>
                    <%end%>
                </ul>
                <%end%>
            </div>
        </div>
</div>
