<% provide(:title, 'Clients') %>
<%= render "static_pages/menubar" %>

<h2>Clients</h2>
<div class = "container">
    <div class="jumbotron">
        <%=render "clients/information"%>
        
    <div class="return">
        <%= link_to "return to home", root_path %>
    </div>

</div>