<header call="navbar navbar-default navbar-fixted-top">
    <div class="container">
        <%= link_to "Try&Trainy", root_path ,id:"logo" %>
        <nav>
            
        </nav>
    </div>
</header>